{% extends "base.html" %}

{% block title %}
Get DIVA request status
{% endblock %}

{% block nav %}
        <div class="header-container">
            <header class="wrapper clearfix">
                <a href="{{ url_for('index') }}"><h1 class="title"><img src="static/image/DiscoveryDIVALogo.png" height="58" width="250" /></h1></a>
                <nav>
                    <ul>
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        <li><a href="{{ url_for('sop') }}">Spectra SOP</a></li>
                        <li><a href="{{ url_for('contact') }}">Contact BNE</a></li>
                    </ul>
                </nav>
            </header>
        </div>
{% endblock %}

{% block content %}
<br>
    <section>
        <h1>Lookup A Request</h1>
        <form action="" method="post">
            <article>
                <p>
                    Enter request # or barcode here:
                    <input type="text" name="reqnumber">
                <p>
                    <button type="submit">Check Status</button>
                </p>
            </article>
        </form>
    </section>
{% endblock %}

{% block footer %}
    <div class="footer-container">
        <footer class="wrapper">
            <h3>If your request has failed, verify the Spectra SOP was followed!</h3>
        </footer>
    </div>
{% endblock %}

{% block sidebar %}
{% endblock %}
